@model CepViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Consumo CEP</h1>
    <p>Digite o número do CEP para encontrar detalhes do endereço.</p>
</div>

<form action="/Home/BuscarEndereco">
    <hr />

    <div class="form-group">
        <label asp-for="CEP" class="col-md-2 control-label custom-label">CEP</label>
        <div class="col-md-10">
            <input asp-for="CEP" class="form-control custom-form-CEP" id="cepInput" name="cep" />
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buscar" class="btn btn-success" />
        </div>
    </div>
</form>
<div class="container">
    <hr />
    @if (ViewBag.MostrarPartial != null && ViewBag.MostrarPartial)
    {
        <partial name="_DadosEndereco" />
    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cepInput = document.getElementById("cepInput");

        cepInput.addEventListener("input", function () {
            var value = this.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
            var formattedValue = '';

            if (value.length > 5) {
                formattedValue += value.substr(0, 5) + '-';
                formattedValue += value.substr(5, 3);
            } else {
                formattedValue = value;
            }

            this.value = formattedValue;
        });
    });
</script>